.card {
    border-radius: 8px;
    background-color: var(--grey-color);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.card-highlight-area {
    height: 20px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.card-content {
    border-radius: inherit;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-category {
    font-size: 16px;
    line-height: 20px;
    color: var(--dimmed-text);
    text-transform: capitalize;
}

.card-title {
    font-size: 18px;
    line-height: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    color: black;
}

.card-description {
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--dimmed-text);
}

.delete-button {
    border: 0;
    cursor: pointer;
    height: 16px;
    width: 16px;
    transition: transform 100ms ease-in-out;
}

.delete-button svg {
    height: inherit;
    width: inherit;
}

.delete-button:hover {
    transform: scale(1.2);
}